<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookistic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lora" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Bookistic</h1>

        <div class="form-container" id="thanks-form">
            <form action="./Search.html" name="Search">
                <h2>Thank You</h2>
                <h3>Registration Complete</h3>
                <input type="submit" class="regisBtn">
            </form>
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script>
        SignUp();
    </script>
</body>

</html>